
.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}
.navigation-box {
    display: none;
    // display: flex;
    // align-items: center;
}
.navigation {
    display: none;
    // display: flex;
}
.navigation__item:not(:last-child) {
    margin-right: 50px;
}
.navigation__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.33;
    // letter-spacing: 0.02em;
    @include font ($fw:500, $lh:1.33, $ls:0.02em)
    color: var(--main-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus, {
        color:var(--text-accent)
    }

    &--current {
        color: var(--text-accent);
    }
    
    &--current::after {
        position: absolute;
        right: 0;
        bottom: -2px;
        content: '';
        display: inline-block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--text-accent);
    } 
}

.contacts {
    display: none;
    // display: flex;
    // margin-left: auto;
}

.contacts__item:first-child {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    @include font ($fw:500, $ls:0.02em)
    color: var(--main-text-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color:var(--text-accent)
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.mob-menu {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: turquoise;
}