.mob-menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // min-width: 320px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:768px) {
        display: none;
    }

}
.mob-menu__button-open {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    fill:var(--text-accent);
    }

}

.mob-menu__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    fill:var(--text-accent);
    }

}


.mob-menu {
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}   

.mob-menu-navigation__item {

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu-navigation__link {
    
    @include font ($fs:30px, $fw:500, $lh:1.18, $ls:0.02em);
    color: var(--main-title-color);

    &--current {
        color: var(--text-accent);
    }
    @media screen and (min-width:480px) {
    @include font ($fs:40px, $fw:500, $lh:1.18, $ls:0.02em);
    }
}

.mob-menu__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mob-menu-contacts {
    margin-bottom: 64px;
}

.mob-menu-contacts__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }


}

.mob-menu-contacts__link {
    &-tel {
        @include font ($fs:24px, $fw:500, $lh:1.18, $ls:0.02em);
        color: var(--text-accent);

        @media screen and (min-width:480px) {
            @include font ($fs:34px, $fw:500, $lh:1.18, $ls:0.02em);
        }
    }
    &-mail {
        @include font ($fs:20px, $fw:500, $lh:1.17, $ls:0.02em);
        color: var(--main-text-color);
    }
        @media screen and (min-width:480px) {
            @include font ($fs:24px, $fw:500, $lh:1.17, $ls:0.02em)
    }
}

.mob-menu-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mob-menu-social__item {
    position: relative;
    &:not(:last-child) {
        margin-right: 20px;
    }

    &:not(:last-child)::after {
        position: absolute;
        content:'';
        display: inline-block;
        margin-left: 10px;
        height: 22px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.mob-menu-social__link {
    @include font ($fs:12px, $fw:500, $lh:1.22, $ls:0.02em);
    color: var(--text-accent);

    @media screen and (min-width:480px) {
        @include font ($fs:18px, $fw:500, $lh:1.22, $ls:0.02em);
    }

}

