.portfolio-filter__wrapper {
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}
.portfolio-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -15px;

    @media screen and (min-width:768px) {
        justify-content: center;
        margin-bottom: 0;
    }
}

.portfolio-filter__item {
    margin-bottom: 15px;

    &:not(:last-child) {
    margin-right: 8px;
    }

    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
}

.portfolio-filter__btn {
    font-family: inherit;
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.62;
    // letter-spacing: 0.03em;
    @include font ($fs:16px, $fw:500, $lh:1.62);
    text-align: center;
    color:var(--main-title-color);
    background-color: var(--second-background-color);
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    padding: 6px 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color:var(--text-accent);
        color:var(--second-title-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }   
}

.portfolio {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.portfolio__item {
    // margin-right: 30px;

    // &:nth-child(3n) {
    //     margin-right: 0px;
    // }
    // &:not(:nth-last-child(-n+3)) {
    //     margin-bottom: 30px;
    // }

    @media screen and (min-width:768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc(100% / 3 - 30px);
    }
}

.portfolio__link {
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width:768px) and (max-width:1199.5px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}


.portfolio__thumb {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

    @media screen and (min-width:768px) and (max-width:1199.5px) {
        flex-grow: 1;
    }
}


.portfolio__title {
    // font-weight: 700;
    // font-size: 18px;
    // line-height: 2.00;
    // letter-spacing: 0.06em;
    @include font ($fs:18px, $fw:700, $lh:2.00, $ls:0.06em);
    color: var(--main-title-color);
}
.portfolio__text {
    // font-size: 16px;
    // line-height: 1.87;
    // letter-spacing: 0.03em;
    @include font ($fs:16px, $lh:1.87);
    color: var(--main-text-color);
}

.portfolio__image-box {
    position: relative;
    overflow: hidden;
}

.portfolio__top-text {
    position: absolute;
    top: 0;
    left: 0;
    // font-size: 18px;
    // line-height: 1.56;
    // letter-spacing: 0.03em;
    @include font ($fs:18px, $lh:1.56);
    height: 100%;
    padding: 63px 24px;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
    transform: translateY(0);
    }
}

