.works {
    display: flex;
}

.works__section {
    
    @media screen and (max-width:1199.9px) {
        display: none;
    }
}
.works__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}
.works__thumb {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
}
.works__text {
    @include font ($fw:700);
    text-transform: uppercase;
    color: #FFFFFF;
}