
.logo {
    font-family: Raleway;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    @include font ($fs:26px, $fw:700, $lh:1.19)
    color: var(--text-accent);
}

.logo__header {
    margin-right: 93px;
}

.logo__footer {
    display: inline-block;
    margin-bottom: 20px;
}

.logo__dark {
    color: #000000 
}

.logo__light {
    color:var(--second-title-text-color)
}
