
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 290px;
    // height: 100%;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.2);
    }

    @media screen and (min-width:480px) {
        width: 450px;
    }

    @media screen and (min-width:1200px) {
        width: 528px;
    }
}

.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    fill:var(--text-accent);
    }
}

.modal-form__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    // font-weight: bold;
    // font-size: 20px;
    // line-height: 1.15;
    // letter-spacing: 0.03em;
    @include font ($fs:14px, $fw:700, $lh:1.3);
    color: var(--main-title-color);

    @media screen and (min-width:480px) {
        @include font ($fs:20px, $fw:700, $lh:1.5);
    }

    @media screen and (min-width:1200px) {
        @include font ($fs:20px, $fw:700, $lh:1.15)
    }
}
.modal-form__input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-form__inpute-wrap {
    position: relative;
}

.modal-form__label {
    margin-bottom: 4px;
    // font-size: 12px;
    // line-height: 1.17;
    // letter-spacing: 0.01em;
    @include font ($fs:12px, $fw:400, $lh:1.17, $ls:0.01em);
    color: #757575;
}
.modal-form__input {
    height: 40px;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--text-accent);
        outline: none;
    }
    &:focus + .modal-form__inpute-icon {
        fill: var(--text-accent);
    }   
}

.modal-form__inpute-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.modal-form__textarea {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        // font-size: 12px;
        // line-height: 1.17;
        // letter-spacing: 0.01em;
        @include font ($ls:0.01em);
        color: rgba(117, 117, 117, 0.5);

        @media screen and (min-width:1200px) {
            @include font ($fs:12px, $lh:1.17, $ls:0.01em)
        }
    }
    &:focus {
        border-color: var(--text-accent);
        outline: none;
    }
}




.modal-form__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    @include font ($fs:10px, $lh:1.17);
    color: #757575;
    cursor: pointer;
    margin-bottom: 30px;

    @media screen and (min-width:480px) {
        @include font ($fs:12px, $lh:1.17);
    }
    @media screen and (min-width:1200px) {
        @include font ($lh:1.71);
    }
}
.modal-form__checkbox-custom {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    transition: background-color 250ms linear;
}
.modal-form__check-icon {
    fill: #FFFFFF
}
.modal-form__policy-link {
    margin-left: 2px;
    text-decoration-line: underline;
    color: var(--text-accent);
}
.modal-form__checkbox {
    &:checked + .modal-form__policy .modal-form__checkbox-custom {
        background-color: var(--text-accent);
        border: none;
    }
}
.modal-form__button {
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    font-family: inherit;
    // font-weight: bold;
    // font-size: 16px;
    // line-height: 1.87;
    // letter-spacing: 0.06em;
    @include font ($fs:16px, $fw:700, $lh:1.87, $ls:0.06em);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}
