:root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --second-title-text-color:#FFFFFF;
    --text-accent: #2196F3;
    --background-color-dark: #2F303A;
    --second-background-color: #F5F4FA;
    }